schemas/xsd/meal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://canteen.com/meal"
           xmlns:meal="http://canteen.com/meal"
           elementFormDefault="qualified">

    <!-- Definition du type Meal -->
    <xs:element name="meal">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="description" type="xs:string" minOccurs="0"/>
                <xs:element name="price" type="xs:decimal"/>
                <xs:element name="category" type="xs:string"/>
                <xs:element name="imageUrl" type="xs:string" minOccurs="0"/>
                <xs:element name="available" type="xs:boolean"/>
                <xs:element name="nutritionalInfo" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="calories" type="xs:int"/>
                            <xs:element name="protein" type="xs:decimal"/>
                            <xs:element name="carbs" type="xs:decimal"/>
                            <xs:element name="fat" type="xs:decimal"/>
                            <xs:element name="fiber" type="xs:decimal"/>
                            <xs:element name="sodium" type="xs:decimal"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="allergens" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="allergen" type="xs:string" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Definition de la liste de plats -->
    <xs:element name="meals">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="meal:meal" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
