schemas/xsd/order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://canteen.com/order"
           xmlns:order="http://canteen.com/order"
           elementFormDefault="qualified">

    <!-- Definition d'un article de commande -->
    <xs:complexType name="OrderItem">
        <xs:sequence>
            <xs:element name="mealId" type="xs:int"/>
            <xs:element name="mealName" type="xs:string"/>
            <xs:element name="quantity" type="xs:int"/>
            <xs:element name="price" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Definition d'une commande -->
    <xs:element name="order">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int" minOccurs="0"/>
                <xs:element name="userId" type="xs:int"/>
                <xs:element name="total" type="xs:decimal"/>
                <xs:element name="status" type="xs:string" minOccurs="0"/>
                <xs:element name="pickupTime" type="xs:dateTime"/>
                <xs:element name="items">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="item" type="order:OrderItem" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="createdAt" type="xs:dateTime" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Definition de la liste de commandes -->
    <xs:element name="orders">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="order:order" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
