schemas/xsd/order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://canteen.com/order"
           xmlns:tns="http://canteen.com/order"
           elementFormDefault="qualified">
    
    <!-- Commande -->
    <xs:element name="order" type="tns:OrderType"/>
    
    <xs:complexType name="OrderType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="0"/>
            <xs:element name="userId" type="xs:int"/>
            <xs:element name="items" type="tns:OrderItemsType"/>
            <xs:element name="total" type="xs:decimal"/>
            <xs:element name="status" type="tns:OrderStatusType" default="pending"/>
            <xs:element name="pickupTime" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="createdAt" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Articles de la commande -->
    <xs:complexType name="OrderItemsType">
        <xs:sequence>
            <xs:element name="item" type="tns:OrderItemType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="OrderItemType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="0"/>
            <xs:element name="mealId" type="xs:int"/>
            <xs:element name="mealName" type="xs:string"/>
            <xs:element name="quantity" type="xs:int"/>
            <xs:element name="price" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Statut de commande -->
    <xs:simpleType name="OrderStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="pending"/>
            <xs:enumeration value="preparing"/>
            <xs:enumeration value="ready"/>
            <xs:enumeration value="completed"/>
            <xs:enumeration value="cancelled"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Liste de commandes -->
    <xs:element name="orders">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="order" type="tns:OrderType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>
