service-menu-java/src/main/webapp/WEB-INF/schemas/menu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Definition du type Allergen -->
    <xs:complexType name="AllergenType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="0"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Definition du type NutritionalInfo -->
    <xs:complexType name="NutritionalInfoType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="0"/>
            <xs:element name="mealId" type="xs:int" minOccurs="0"/>
            <xs:element name="calories" type="xs:double"/>
            <xs:element name="proteins" type="xs:double"/>
            <xs:element name="carbohydrates" type="xs:double"/>
            <xs:element name="fats" type="xs:double"/>
            <xs:element name="fiber" type="xs:double" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Definition du type Category -->
    <xs:complexType name="CategoryType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="0"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Definition du type Meal -->
    <xs:complexType name="MealType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="0"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="price" type="xs:double"/>
            <xs:element name="categoryId" type="xs:int"/>
            <xs:element name="available" type="xs:boolean"/>
            <xs:element name="category" type="CategoryType" minOccurs="0"/>
            <xs:element name="nutritionalInfo" type="NutritionalInfoType" minOccurs="0"/>
            <xs:element name="allergens" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="allergen" type="AllergenType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Element racine Menu -->
    <xs:element name="menu">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="meals">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="meal" type="MealType" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Elements racines individuels -->
    <xs:element name="meal" type="MealType"/>
    <xs:element name="category" type="CategoryType"/>
    <xs:element name="allergen" type="AllergenType"/>
    <xs:element name="nutritionalInfo" type="NutritionalInfoType"/>

</xs:schema>
