service-orders-python/schemas/order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://canteen.com/order"
           xmlns="http://canteen.com/order"
           elementFormDefault="qualified">

    <!-- Definition du type OrderItem -->
    <xs:complexType name="OrderItemType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="0"/>
            <xs:element name="order_id" type="xs:int" minOccurs="0"/>
            <xs:element name="meal_id" type="xs:int"/>
            <xs:element name="meal_name" type="xs:string"/>
            <xs:element name="quantity" type="xs:int"/>
            <xs:element name="price" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Definition du type Order -->
    <xs:complexType name="OrderType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="0"/>
            <xs:element name="user_id" type="xs:int"/>
            <xs:element name="total" type="xs:double"/>
            <xs:element name="status" type="xs:string" default="pending"/>
            <xs:element name="pickup_time" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="created_at" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="items">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="item" type="OrderItemType" minOccurs="1" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Element racine pour une commande unique -->
    <xs:element name="order" type="OrderType"/>

    <!-- Element racine pour une liste de commandes -->
    <xs:element name="orders">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="order" type="OrderType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
