service-menu-java/src/main/resources/xsd/menu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://canteen.com/menu"
           xmlns="http://canteen.com/menu"
           elementFormDefault="qualified">

    <!-- Definition du type Category -->
    <xs:complexType name="CategoryType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Definition du type MealSimple pour le menu -->
    <xs:complexType name="MealSimpleType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="price" type="xs:double"/>
            <xs:element name="imageUrl" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Definition du type CategoryWithMeals -->
    <xs:complexType name="CategoryWithMealsType">
        <xs:sequence>
            <xs:element name="category" type="CategoryType"/>
            <xs:element name="meals">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="meal" type="MealSimpleType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Element racine pour le menu du jour -->
    <xs:element name="menu">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="date" type="xs:date"/>
                <xs:element name="categories">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="categoryWithMeals" type="CategoryWithMealsType" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
