service-menu-java/src/main/resources/xsd/menu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://canteen.com/menu"
           xmlns:tns="http://canteen.com/menu"
           xmlns:meal="http://canteen.com/meal"
           elementFormDefault="qualified">
    
    <xs:import namespace="http://canteen.com/meal" schemaLocation="meal.xsd"/>
    
    <!-- Menu du jour -->
    <xs:element name="menu" type="tns:MenuType"/>
    
    <xs:complexType name="MenuType">
        <xs:sequence>
            <xs:element name="date" type="xs:date"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="categories" type="tns:CategoriesType"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Categories avec leurs plats -->
    <xs:complexType name="CategoriesType">
        <xs:sequence>
            <xs:element name="category" type="tns:CategoryType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CategoryType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="meals" type="tns:CategoryMealsType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CategoryMealsType">
        <xs:sequence>
            <xs:element ref="meal:meal" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
